body {
  padding: 50px;
  background-color: white;
}

.s-hidden {
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font: normal 11px/22px Arial, Sans-Serif;
  color: black;
  border: 1px solid #ccc;
}

.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 0 10px;
  font-weight: bold;
}

.styledSelect:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 9px;
  right: 6px;
}

.styledSelect:active, .styledSelect.active {
  background-color: #eee;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border: 1px solid #ccc;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.options li {
  padding: 0 6px;
  margin: 0 0;
  padding: 0 10px;
}

.options li:hover {
  background-color: #39f;
  color: white;
}

.page .not_found {
  border: 2px solid red;
}
.page input {
  box-sizing: border-box;
}
.page .content_type2c {
  width: 100%;
  height: auto;
  overflow-x: auto;
  margin-bottom: 21px;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_y {
  float: left;
  width: calc(100% - 195px);
  height: auto;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_y .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_y .group .group_data_s1 {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators-f {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-left: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators-m {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x {
  float: left;
  width: 195px;
  height: auto;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 {
  width: 100%;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .data_cel-f {
  width: 100%;
  display: inline-block;
  padding: 8px;
  height: auto;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .data_cel-f input {
  width: 100%;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .data_cel-m {
  width: 100%;
  display: inline-block;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .data_cel-m input {
  width: 100%;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .data_cel-yn {
  width: 100%;
  display: inline-block;
  padding: 8px;
  height: auto;
  min-height: 48px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .data_cel-yn input {
  width: auto;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .data_cel-yn_f {
  width: 100%;
  display: inline-block;
  padding: 8px;
  height: auto;
  min-height: 48px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .data_cel-yn_f input {
  width: auto;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .data_cel-indicators {
  float: left;
  width: 100%;
  height: 271px !important;
  padding: 8px 0;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .data_cel-indicators div {
  padding: 8px;
  width: 230px;
  line-height: 21px;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .group_frame .group_title_s {
  width: 50%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel {
  width: 50%;
  float: left;
  padding: 8px;
  height: 36;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type2c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel input {
  width: 100%;
}
.page .content_type3c {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-x: auto;
  margin-bottom: 21px;
}
.page .content_type3c .wrapper_cont {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y {
  float: left;
  width: 60%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators {
  float: left;
  width: 100%;
  height: 96px !important;
  padding: 8px;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators div {
  width: 100%;
  line-height: 21px;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_s1 .group_frame .group_title_s1 {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  height: 120px !important;
  font-size: 0.9em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel input {
  width: 100%;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_sn {
  width: auto;
  height: 48px;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_sn .data_cel-indicators {
  float: left;
  width: 100%;
  height: 48px;
  padding: 8px;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_sn .data_cel-indicators div {
  width: 100%;
  line-height: 21px;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_sn .data_cel-x {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 48px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_sn .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_sn .group_frame .group_title_s1 {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_sn .group_frame .data_cel {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 120px !important;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_y .group .group_data_sn .group_frame .data_cel input {
  width: 100%;
}
.page .content_type3c .wrapper_cont .g_x {
  float: left;
  width: 19.8%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_x .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_x .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_x .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_x .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-f {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-f input {
  width: 100%;
}
.page .content_type3c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t input {
  border: 1px solid #AAAAAA;
  background-color: #DCDCDC;
  width: 100%;
}
.page .content_type3c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-n-f {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type3c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-n {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-x: auto;
  margin-bottom: 21px;
}
.page .content_type5c .wrapper_cont {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_y {
  float: left;
  width: 32%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_y .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_y .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_y .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators {
  float: left;
  width: 100%;
  height: 384px !important;
  padding: 8px;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators div {
  width: 100%;
  line-height: 21px;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_y .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_y .group .group_data_s1 .group_frame .group_title_s1 {
  width: 50%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel {
  width: 50%;
  float: left;
  padding: 8px;
  height: 36;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel input {
  width: 100%;
}
.page .content_type5c .wrapper_cont .g_x {
  float: left;
  width: calc((100%-30%)/5.9);
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_x .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_x .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_x .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_x .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_x .group .group_data_s1 .group_frame .group_title_s {
  width: 50%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_x .group .group_data_s1 .group_frame .group_title_s-f {
  width: 50%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel {
  width: 50%;
  float: left;
  padding: 8px;
  height: 36;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel input {
  width: 100%;
}
.page .content_type5c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t input {
  border: 1px solid #AAAAAA;
  background-color: #DCDCDC;
  width: 100%;
}
.page .content_type5c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-n-f {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-n {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c2l {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-x: auto;
  margin-bottom: 21px;
}
.page .content_type5c2l .wrapper_cont {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_y {
  float: left;
  width: 25%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_y .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_y .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_y .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators {
  float: left;
  width: 100%;
  height: 96px !important;
  padding: 8px;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators div {
  width: 100%;
  line-height: 21px;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_y .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_y .group .group_data_s1 .group_frame .group_title_s1 {
  width: 50%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel {
  width: 50%;
  float: left;
  padding: 8px;
  height: 36;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel input {
  width: 100%;
}
.page .content_type5c2l .wrapper_cont .g_x {
  float: left;
  width: 15%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_x .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 .data_cel-indicators {
  float: left;
  width: 100%;
  height: 271px !important;
  padding: 8px 0;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 .data_cel-indicators div {
  padding: 8px;
  width: 230px;
  line-height: 21px;
  background-color: chocolate;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 .group_frame .group_title_s {
  width: 50%;
  float: left;
  padding: 8px;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel {
  width: 50%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel input {
  width: 100%;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t {
  width: 100%;
  float: left;
  padding: 8px;
  height: 96px !important;
  text-align: center;
  font-size: 0.9em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t input {
  border: 1px solid #AAAAAA;
  background-color: #DCDCDC;
  width: 100%;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5c2l .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t input {
  border: 1px solid #AAAAAA;
  background-color: #DCDCDC;
  width: 100%;
}
.page .content_type5cs8 {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-x: auto;
  margin-bottom: 21px;
}
.page .content_type5cs8 .wrapper_cont {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y {
  float: left;
  width: 32%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators {
  float: left;
  width: 100%;
  height: 168px !important;
  padding: 8px;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators div {
  width: 100%;
  line-height: 21px;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_s1 .data_cel-x {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 48px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_s1 .group_frame .group_title_s1 {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 120px !important;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel input {
  width: 100%;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_sn {
  width: auto;
  height: 48px;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_sn .data_cel-indicators {
  float: left;
  width: 100%;
  height: 48px;
  padding: 8px;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_sn .data_cel-indicators div {
  width: 100%;
  line-height: 21px;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_sn .data_cel-x {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 48px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_sn .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_sn .group_frame .group_title_s1 {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_sn .group_frame .data_cel {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 120px !important;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_y .group .group_data_sn .group_frame .data_cel input {
  width: 100%;
}
.page .content_type5cs8 .wrapper_cont .g_x {
  float: left;
  width: calc((100%-30%)/5.9);
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_x .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_x .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_x .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_x .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-f {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 120px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-f input {
  width: 100%;
}
.page .content_type5cs8 .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t input {
  border: 1px solid #AAAAAA;
  background-color: #DCDCDC;
  width: 100%;
}
.page .content_type5cs8 .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-n-f {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8 .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-n {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-x: auto;
  margin-bottom: 21px;
}
.page .content_type5cs8v .wrapper_cont {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y {
  float: left;
  width: 32%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators {
  float: left;
  width: 100%;
  height: auto;
  min-height: 48px;
  padding: 8px;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators div {
  width: 100%;
  line-height: 21px;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_s1 .data_cel-x {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: auto;
  min-height: 48px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_s1 .group_frame .group_title_s1 {
  width: 100%;
  float: left;
  padding: 8px;
  height: auto;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: auto;
  min-height: 48px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel input {
  width: 100%;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_sn {
  width: auto;
  height: 48px;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_sn .data_cel-indicators {
  float: left;
  width: 100%;
  height: 48px;
  padding: 8px;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_sn .data_cel-indicators div {
  width: 100%;
  line-height: 21px;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_sn .data_cel-x {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 48px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_sn .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_sn .group_frame .group_title_s1 {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_sn .group_frame .data_cel {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: auto;
  min-height: 48px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_y .group .group_data_sn .group_frame .data_cel input {
  width: 100%;
}
.page .content_type5cs8v .wrapper_cont .g_x {
  float: left;
  width: calc((100%-30%)/5.9);
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_x .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_x .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_x .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_x .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-f {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 120px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-f input {
  width: 100%;
}
.page .content_type5cs8v .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t input {
  border: 1px solid #AAAAAA;
  background-color: #DCDCDC;
  width: 100%;
}
.page .content_type5cs8v .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-n-f {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type5cs8v .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-n {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-x: auto;
  margin-bottom: 21px;
}
.page .content_type6cs .wrapper_cont {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y {
  float: left;
  width: 49.7%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators {
  float: left;
  width: 100%;
  height: auto;
  min-height: 48px;
  padding: 8px;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_s1 .data_cel-indicators div {
  width: 100%;
  line-height: 21px;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_s1 .group_frame .group_title_s1 {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_s1 .group_frame .data_cel input {
  width: 100%;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_sn {
  width: auto;
  height: 48px;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_sn .data_cel-indicators {
  float: left;
  width: 100%;
  height: 48px;
  padding: 8px;
  font-size: 0.9em;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_sn .data_cel-indicators div {
  width: 100%;
  line-height: 21px;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_sn .data_cel-x {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 48px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_sn .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_sn .group_frame .group_title_s1 {
  width: 100%;
  float: left;
  padding: 8px;
  height: 36;
  padding: 8px;
  min-height: 48px;
  font-size: 0.9em;
  text-align: center;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_sn .group_frame .data_cel {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  font-size: 0.9em;
  height: auto;
  min-height: 48px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_y .group .group_data_sn .group_frame .data_cel input {
  width: 100%;
}
.page .content_type6cs .wrapper_cont .g_x {
  float: left;
  width: 10%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_x .group {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_title_s1 .group_title_p {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_data_s1 {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_data_s1 .group_frame {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-f {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-f input {
  width: 100%;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-f {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  height: auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-f input {
  width: 100%;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-t input {
  border: 1px solid #AAAAAA;
  background-color: #DCDCDC;
  width: 100%;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-n-f {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.page .content_type6cs .wrapper_cont .g_x .group .group_data_s1 .group_frame .data_cel-n {
  width: 100%;
  float: left;
  padding: 8px;
  text-align: center;
  min-height: 48px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
