@import 'components/_select_op.scss';

.page {

  .not_found {
    border: 2px solid red;
  }

  input {
    box-sizing: border-box;
  }

  .content_type2c {
    width: 100%;
    height: auto;
    overflow-x: auto;
    margin-bottom: 21px;
    box-sizing: border-box;

    .wrapper_cont {
      width: auto;
      height: auto;
      box-sizing: border-box;

      .g_y {
        float: left;
        width: calc(100% - 195px);
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_data_s1 {
            width: 100%;
            height: auto;
            box-sizing: border-box;

            .data_cel-indicators-f {
              display: inline-block;
              width: 100%;
              height: auto;
              padding: 8px;
              min-height: 48px;
              font-size: 0.9em;
              height: auto;
              border-left: 1px solid #ccc;
              border-left: 1px solid #ccc;
              border-left: 1px solid #ccc;
              border: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }

            .data_cel-indicators-m {
              display: inline-block;
              width: 100%;
              height: auto;
              padding: 8px;
              min-height: 48px;
              font-size: 0.9em;
              height: auto;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }
        }
      }

      .g_x {
        float: left;
        width: 195px;
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_data_s1 {
            width: 100%;
            box-sizing: border-box;

            .data_cel-f {
              width: 100%;
              display: inline-block;
              padding: 8px;
              height: auto;
              padding: 8px;
              min-height: 48px;
              font-size: 0.9em;
              border-bottom: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-top: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;

              input {
                width: 100%;
              }
            }

            .data_cel-m {
              width: 100%;
              display: inline-block;
              padding: 8px;
              min-height: 48px;
              font-size: 0.9em;
              height: auto;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;

              input {
                width: 100%;
              }
            }

            .data_cel-yn {
              width: 100%;
              display: inline-block;
              padding: 8px;
              height: auto;
              min-height: 48px;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              input {
                width: auto;
              }
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: 271px !important;
              padding: 8px 0;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;

              div {
                padding: 8px;
                width: 230px;
                ;
                line-height: 21px;
              }
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s {
                width: 50%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 50%;
                float: left;
                padding: 8px;
                height: 36;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  .content_type3c {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: auto;
    margin-bottom: 21px;

    .wrapper_cont {
      width: auto;
      height: auto;
      box-sizing: border-box;

      .g_y {
        float: left;
        width: 60%;
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: 96px !important;
              padding: 8px;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              div {
                width: 100%;
                line-height: 21px;
                box-sizing: border-box;
              }
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s1 {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                height: 120px !important;
                font-size: 0.9em;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }

          .group_data_sn {
            width: auto;
            height: 48px;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: 48px;
              padding: 8px;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              div {
                width: 100%;
                line-height: 21px;
                box-sizing: border-box;
              }
            }

            .data_cel-x {
              width: 100%;
              float: left;
              padding: 8px;
              text-align: center;
              font-size: 0.9em;
              height: 48px;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s1 {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                font-size: 0.9em;
                height: 120px !important;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .g_x {
        float: left;
        width: 19.8%;
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;

              .data_cel-f {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }

              .data_cel-t {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  border: 1px solid #AAAAAA;
                  background-color: #DCDCDC;
                  width: 100%;
                }
              }

              .data_cel-n-f {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel-n {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

            }
          }
        }
      }
    }
  }

  .content_type5c {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: auto;
    margin-bottom: 21px;

    .wrapper_cont {
      width: auto;
      height: auto;
      box-sizing: border-box;

      .g_y {
        float: left;
        width: 32%;
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: 384px !important;
              padding: 8px;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              div {
                width: 100%;
                line-height: 21px;
                box-sizing: border-box;
              }
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s1 {
                width: 50%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 50%;
                float: left;
                padding: 8px;
                height: 36;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .g_x {
        float: left;
        width: calc((100%-30%)/5.9);
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;

              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s {
                width: 50%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .group_title_s-f {
                width: 50%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 50%;
                float: left;
                padding: 8px;
                height: 36;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }

              .data_cel-t {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  border: 1px solid #AAAAAA;
                  background-color: #DCDCDC;
                  width: 100%;
                }
              }

              .data_cel-n-f {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel-n {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

            }
          }
        }
      }
    }
  }

  .content_type5c2l {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: auto;
    margin-bottom: 21px;

    .wrapper_cont {
      width: auto;
      height: auto;
      box-sizing: border-box;

      .g_y {
        float: left;
        width: 25%;
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: 96px !important;
              padding: 8px;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              div {
                width: 100%;
                line-height: 21px;
                box-sizing: border-box;
              }
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s1 {
                width: 50%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 50%;
                float: left;
                padding: 8px;
                height: 36;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .g_x {
        float: left;
        width: 15%;
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;

              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: 271px !important;
              padding: 8px 0;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;

              div {
                padding: 8px;
                width: 230px;
                line-height: 21px;
                background-color: chocolate;
              }
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s {
                width: 50%;
                float: left;
                padding: 8px;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 50%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }

              .data_cel-t {
                width: 100%;
                float: left;
                padding: 8px;
                height: 96px!important;
                text-align: center;
                font-size: 0.9em;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  border: 1px solid #AAAAAA;
                  background-color: #DCDCDC;
                  width: 100%;
                }
              }

              .data_cel-t {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  border: 1px solid #AAAAAA;
                  background-color: #DCDCDC;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  .content_type5cs8 {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: auto;
    margin-bottom: 21px;

    .wrapper_cont {
      width: auto;
      height: auto;
      box-sizing: border-box;

      .g_y {
        float: left;
        width: 32%;
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: 168px !important;
              padding: 8px;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              div {
                width: 100%;
                line-height: 21px;
                box-sizing: border-box;
              }
            }

            .data_cel-x {
              width: 100%;
              float: left;
              padding: 8px;
              text-align: center;
              font-size: 0.9em;
              height: 48px;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s1 {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                font-size: 0.9em;
                height: 120px !important;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }

          .group_data_sn {
            width: auto;
            height: 48px;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: 48px;
              padding: 8px;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              div {
                width: 100%;
                line-height: 21px;
                box-sizing: border-box;
              }
            }

            .data_cel-x {
              width: 100%;
              float: left;
              padding: 8px;
              text-align: center;
              font-size: 0.9em;
              height: 48px;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s1 {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                font-size: 0.9em;
                height: 120px !important;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .g_x {
        float: left;
        width: calc((100%-30%)/5.9);
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;

              .data_cel-f {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                font-size: 0.9em;
                height: 120px;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }

              .data_cel-t {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  border: 1px solid #AAAAAA;
                  background-color: #DCDCDC;
                  width: 100%;
                }
              }

              .data_cel-n-f {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel-n {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

            }
          }
        }
      }
    }
  }

  .content_type5cs8v {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: auto;
    margin-bottom: 21px;

    .wrapper_cont {
      width: auto;
      height: auto;
      box-sizing: border-box;

      .g_y {
        float: left;
        width: 32%;
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: auto;
              min-height: 48px;
              padding: 8px;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              div {
                width: 100%;
                line-height: 21px;
                box-sizing: border-box;
              }
            }

            .data_cel-x {
              width: 100%;
              float: left;
              padding: 8px;
              text-align: center;
              font-size: 0.9em;
              height: auto;
              min-height: 48px;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s1 {
                width: 100%;
                float: left;
                padding: 8px;
                height: auto;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                font-size: 0.9em;
                height: auto;
                min-height: 48px;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }

          .group_data_sn {
            width: auto;
            height: 48px;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: 48px;
              padding: 8px;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              div {
                width: 100%;
                line-height: 21px;
                box-sizing: border-box;
              }
            }

            .data_cel-x {
              width: 100%;
              float: left;
              padding: 8px;
              text-align: center;
              font-size: 0.9em;
              height: 48px;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s1 {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                font-size: 0.9em;
                height: auto;
                min-height: 48px;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .g_x {
        float: left;
        width: calc((100%-30%)/5.9);
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;

              .data_cel-f {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                font-size: 0.9em;
                height: 120px;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }

              .data_cel-t {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  border: 1px solid #AAAAAA;
                  background-color: #DCDCDC;
                  width: 100%;
                }
              }

              .data_cel-n-f {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel-n {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

            }
          }
        }
      }
    }
  }

  .content_type6cs {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: auto;
    margin-bottom: 21px;

    .wrapper_cont {
      width: auto;
      height: auto;
      box-sizing: border-box;

      .g_y {
        float: left;
        width: 49.7%;
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: auto;
              min-height: 48px;
              padding: 8px;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              div {
                width: 100%;
                line-height: 21px;
                box-sizing: border-box;
              }
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s1 {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }

          .group_data_sn {
            width: auto;
            height: 48px;
            box-sizing: border-box;

            .data_cel-indicators {
              float: left;
              width: 100%;
              height: 48px;
              padding: 8px;
              font-size: 0.9em;
              border-left: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              box-sizing: border-box;

              div {
                width: 100%;
                line-height: 21px;
                box-sizing: border-box;
              }
            }

            .data_cel-x {
              width: 100%;
              float: left;
              padding: 8px;
              text-align: center;
              font-size: 0.9em;
              height: 48px;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;


              .group_title_s1 {
                width: 100%;
                float: left;
                padding: 8px;
                height: 36;
                padding: 8px;
                min-height: 48px;
                font-size: 0.9em;
                text-align: center;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                font-size: 0.9em;
                height: auto;
                min-height: 48px;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .g_x {
        float: left;
        width: 10%;
        height: auto;
        box-sizing: border-box;

        .group {
          float: left;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          .group_title_s1 {

            .group_title_p {
              width: 100%;
              height: 48px;
              text-align: center;
              font-size: 1em;
              font-weight: 500;
              border-right: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              box-sizing: border-box;
            }
          }

          .group_data_s1 {
            width: auto;
            height: auto;
            box-sizing: border-box;

            .group_frame {
              width: 100%;
              height: auto;
              box-sizing: border-box;

              .data_cel-f {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }

              .data_cel-f {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                height: auto;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  width: 100%;
                }
              }

              .data_cel-t {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;

                input {
                  border: 1px solid #AAAAAA;
                  background-color: #DCDCDC;
                  width: 100%;
                }
              }

              .data_cel-n-f {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }

              .data_cel-n {
                width: 100%;
                float: left;
                padding: 8px;
                text-align: center;
                min-height: 48px;
                font-size: 0.9em;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
              }
            }
          }
        }
      }
    }
  }

}